* {                         /*Globalt för alla*/
    margin: 0;              /*tar bort space vänster*/
    padding: 5;             /*tar bort space över*/
    box-sizing: border-box; /*ger oss möjligheter att sätta margin/padding/ram samt space höjd bredd*/
}


body{
    width: 1024px;
    margin-left: auto; /*dessa två får VÅR info centerad med lika mycket space vid sidorna*/
    margin-right: auto;
    background-color: rgb(236, 166, 15);
    font-family:sans-serif;
    border: 2px solid rgb(1, 15, 3);
    

}
    
h1 {
    height: 40px;
    width: 100%;
    font-size: 20px;
    background-color: crimson;
    color: rgb(107, 10, 233);
}

nav {
    margin-top: -40px; /*positionera upp dig/tillbaka dig så att li hamnar i rubrikrad*/
}

nav > ul > li { 
    left: 300px;
    background-color: rgb(129, 201, 15);
    text-align: center;
    position: relative; /*följ moder-containern*/
} 

li {  
    list-style: none; /*inga punkter eller nr i någon av våra li-grupper*/
}

ol > li > ul {
    padding: 10%;
}



body > div > h2 {
    padding: 10px;
    width: 100%;
    height: 80px;
    font-size: 20px;
    text-align: left;
    break-after: always;
    color: rgb(107, 10, 233);
    float: left;
}

body > div > p {
    display: block;
    padding: 10px;
    width: 300px;
    height: 80px;
    border: 2px solid rgb(236, 14, 218);
    float: left;
}



article > P {
    color: rgb(230, 18, 106);

    width: 50%;
    padding: 40px;
    float: left;
}

p {  
    color: rgb(106, 231, 57);
    text-align: left;
}

img {
    padding: 40px;
    width: 35%;
    float: right;
}

article {
    display: block;
    border: px solid rgb(223, 87, 24);
    float: left;
}



aside {
    top: 40px;
    padding: 20px;
    width: 25%;
    height: 1190px;
    background-color: rgb(233, 70, 178);
    text-align: left;
    border: px solid rgb(6, 0, 15);
    float: left;
}


footer {
    bottom: 0;
    width: 100%;
    background-color: rgb(2, 24, 37);
    color: rgb(241, 31, 84);
    float: left;
}



.clearfix:after{
    content:"";
    display: table;
    clear: both;
}

.navlist {
    height: 40px;
    width: 140px;
    border: 1px solid black;
    float: left;
}

.first-box-container {
    width: 75%;
    border: 2px solid blue;
    float: left;
}

.justify-text {
    text-align: justify;
}

.blue-justify-text {
    font-family:sans-serif;
    color: rgb(9, 5, 233);
    text-align: justify;
}
